.terraform
*.tfstate
*.tfstate.*backup
.terraform.lock.hcl
.env
**/spn-creds.sh
*.tfvars
*.tfvars.json
*.tfplan
*.env

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.d.ts
*.js
node_modules
cdktf.out
.gen

.DS_Store
